:root {
  --colorBrown: #e08b6c;
}

* {
  transition: all 0.3s ease-in-out;
}
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  height: 100vh;
  box-sizing: border-box;
}

header {
  background-color: #000000;
  color: #ffffff;
}

.website-header {
  padding: 20px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.website-header h1 {
  font-size: 30px;
  margin: auto;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--colorBrown);
}

.social-icons {
  text-align: center;
  font-size: 30px;
  margin-right: 5vw;
}

.social-icons i {
  margin: 0 10px;
  cursor: pointer;
}

.container-button {
  width: 100%;
  margin-top: 10px;
  margin-right: 3vw;
}

input[type="button"] {
  background-color: var(--colorBrown);
  color: white;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: auto;
  float: right;
  border-radius: 5px;
}

input[type="button"]:hover {
  background-color: #df6b40;
}

#nav {
  background-color: #000000;
  height: 50px;
  margin-bottom: 20px;
}

#nav ul {
  margin: 20px 0 0 0;
}

.navbar-nav li {
  list-style: none;
  display: inline-block;
  padding: 10px 35px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-nav li a:hover {
  color: var(--colorBrown);
}

.breaking-news-section {
  padding: 0 30px 0 60px;
  display: flex;
  height: 30px;
}

#btext {
  width: 200px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--colorBrown);
  font-weight: 600;
  margin: auto 0;
}

.breaking-news {
  padding: 0 30px;
  color: #fff;
  font-weight: 800;
  display: inline-block;
  margin: auto 0;
}

.breaking-news:hover,
.social-icons i:hover {
  color: var(--colorBrown);
  cursor: pointer;
}

.bntime {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
  font-size: 12px;
}

#popular-news {
  display: flex;
  margin: 30px 5%;
}

.lado-esquerdo {
  float: left;
  width: 50%;
  padding: 0 10px;
}

.lado-direito {
  float: right;
  width: 50%;
  padding: 0 10px;
}

#popular-news img {
  width: 100%;
  filter: brightness(0.7);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#popular-news h2 {
  margin: 0;
  padding: 10px;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#featured h2 {
  background-color: #000000;
}

#tecnologia h2 {
  background-color: darkred;
}

#politica h2 {
  background-color: darkblue;
}

.carousel,
.news-container {
  position: relative;
}

.popular-news-text {
  font-size: 14px;
  position: absolute;
  color: #fff;
  z-index: 2;
  bottom: 5px;
  font-size: 24px;
  font-weight: bolder;
  padding: 0 10px;
  transition-duration: 500ms;
}

#featured {
  flex: 2;
}

#tecnologia,
#politica {
  flex: 1;
}

.news-container:hover {
  cursor: pointer;
}

.news-container:hover > .popular-news-text {
  bottom: 10px;
  transform: translateX(10px) scale(1.05);
}

.more-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  padding: 0 5%;
  text-align: justify;
}

.more-news h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--colorBrown);
}

.more-news img {
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.news-section {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  justify-content: space-between;
}

.world {
  float: left;
  width: 48%;
  padding: 0 10px;
}
.sport {
  float: right;
  width: 48%;
  padding: 0 10px;
}

.world h2 {
  background-color: #b2175b;
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.world p,
h3 {
  color: black;
}

.sport h2 {
  background-color: #3c1b75;
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.sport p,
h3 {
  color: black;
}

/* .sport img{
  width: 50%;
}

.sport p{
  font-size: 14px;
  display: flex;
  text-align: justify;
  
} */

.recent-news {
  display: flex;
}

.recent-news img {
  width: 70px;
  height: 70px;
  margin: 10px;
}

.recent-news p {
  font-size: 14px;
  font-weight: bold;
  margin: auto;
}

footer {
  background: #fff;
  color: #000000;
  padding: 30px;
}

footer-news {
  color: black;
}

.footer-container {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container-news {
  display: flex;
  padding: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}

footer-news h2 {
  padding: 10px 0;
}
.about h2 {
  margin-left: 2vw;
}

.footer-left {
  margin: 0 20px;
  flex: 1;
}

.footer-left-news {
  margin: 0 20px;
  flex: 1;
}

.footer-left span {
  color: #000000;
}
.footer-left-news span {
  color: white;
}

.footer-container section {
  flex-basis: 30%;
}

.footer-container-news section {
  flex-basis: 30%;
}

footer p {
  padding: 10px 0;
  line-height: 1.3;
}

footer > p {
  text-align: center;
  opacity: 0.8;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .website-header h1 {
    font-size: 15px;
  }

  .breaking-news-section {
    padding: 10px;
    flex-wrap: wrap;
    height: 70px;
  }

  .navbar-collapse {
    background-color: #000000;
    z-index: 16;
  }

  #featured {
    flex: auto;
  }

  .news-section,
  aside,
  .world,
  .sport,
  .footer-container section {
    flex-basis: 100%;
  }

  .footer-container section {
    padding: 15px 0;
  }

  aside {
    border-width: 0;
  }
}

/*#region ============= CATEGORIAS ============= */
.main-container {
  display: flex;
  margin: 0 5%;
}

.main-news {
  float: left;
  width: 70%;
}

.main-news h1 {
  display: flex;
  justify-content: center;
  text-align: left;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  padding: 10px 0;
  color: var(--colorBrown);
}

.main-news img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.main-news p {
  display: flex;
  font-size: 20px;
  text-align: justify;
  margin: 0;
  padding: 10px 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0px;
  border-radius: 0 3px 3px 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.caption-text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 20px 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.caption-text:hover {
  transform: translateY(-5px) scale(1.05) translateX(10px);
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.other-news {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 30%;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 20vh;
}

.other-news h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
  padding: 10px 0;
  color: var(--colorBrown);
}

.other-news h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.other-news1 p {
  display: flex;
  font-size: 15px;
  text-align: justify;
  align-content: center;
  margin-bottom: 30px;
  margin-top: 5px;
  padding: 4px 10px;
}

.other-news1 p:hover {
  color: var(--colorBrown);
}

.other-news1 {
  padding: 5px;
  align-items: center;
}

/* translate other-news1 up on hover */

.other-news1:hover {
  transform: translateY(-5px) scale(1.05);
}

.other-news1 img {
  float: left;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: black;
}
